@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.blog-entry {
  @media screen and (max-width: map-get($map: $variables, $key: break-large)) {
    width: 80%;
  }

  width: 60%;
  margin: 0 auto;

  img {
    max-width: 60%;
    margin: 0 auto;
    display: block;
  }
}
