@import 'colors';

body {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

#app {
  display: flex;
  justify-content: center;
}

.title {
  font-size: xx-large;
}

.subtitle {
  font-size: large;
}

.italic {
  font-style: italic;
}
