@import '../../styles/colors.scss';

.blog-preview {
  text-align: center;

  & .post__table {
    margin: 0 auto;

    &-item--title {
      color: map-get($map: $colors, $key: green);

      &:hover {
        color: darken(map-get($map: $colors, $key: green), 15%);
      }
    }
  }
}
