@import '../../styles/colors.scss';

.blog-preview {
  text-align: center;

  & .post__table {
    margin: 0 auto;
    width: 80%;

    &-item {
      &:nth-child(odd) {
        text-align: right;
      }

      &:nth-child(even) {
        text-align: left;
      }

      &--image {
        height: 200px;
        float: left;
      }

      &--title {
        color: map-get($map: $colors, $key: green);

        &:hover {
          color: darken(map-get($map: $colors, $key: green), 15%);
        }
      }
    }
  }
}
